extends ../../templates/base.pug

mixin member(name, wing, role)
  .member
    - const imageName = name.toLowerCase().replace(/ /g,"_")
    img(src=`${baseUrl}/static/images/about/mc/individual/${imageName}.jpg`, alt="")
    .description
      h1 #{name}
      h2 #{wing}
      h3 #{role}

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/about/mc.css`)

block main
  .banner
    img(src=`${baseUrl}/static/images/about/mc/group/all.jpg`, alt="")
  .heading
    h1 21st Management Committee
    p.
      We organize various events for our members to brighten their school life, help them along with
      school and provide opportunities to explore other academic and non-academic related interests. 
      We are here as a club for students by students to listen to what our members want and put it into
      action.
  .container-wings
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/presidential_wing.jpg`, alt="")
      .description
        h1 Presidential Wing
        p.
          The Presidential Wing, which consist of the President, the Vice-Presidents, the Secretariat
          Cell, the Finance Cell, and the IT Cell, takes charge of the general administration and support
          of the club. They provide guidance and aid to the operational cells in their respective fields, 
          and frequently undertake actions that affect the entire club.
        h2 Presidential Cell
        p.
          The President together with the Vice-Presidents make top level decisions which concern the
          club, ensure the smooth running of events, and provide guidance to the various cells. They 
          also represent the club in the NUSSU Council, meetings with the School and University, and 
          official events. The Presidential Cell acts as the voice for the club and the students and 
          safeguards their interests.
        h2 Secretariat Cell
        p.
          The Secretariat Cell takes charge of the overall administration of the club to ensure a 
          smooth day-to-day running of the club. This includes coordinating directors’ meetings, general
          meetings, and enforcing that discipline within the club is upheld in accordance with the club’s
          Rules and Regulations. The Secretariat Cell also shoulders the responsibility of information 
          management, the weekly email blasts, and the welfare of the club’s Management Committee members.
        h2 Finance Cell
        p. 
          The Finance Cell manages all matters relating to finance and expenses in the club. Together with
          the President, they allocate the initial budget at the start of their term, and all purchases 
          within the club will have to be approved by them. The Finance Cell work closely with School of 
          Computing’s Student Life Office and NUS Office of Financial Services to properly process all 
          transactions, sets out proper financial guidelines and procedures, and frequently provide financial
          advice to club members that contributes to a smooth running of the club’s operations.
        h2 Information Technology Cell
        p. 
          The Information Technology (IT) Cell oversees the IT infrastructure of the club. This includes the 
          club’s official website, the Freshmen Orientation Programme (FOP) webpage, and various ad hoc projects
          such as the creation of Telegram Bots to cater to orientation camps score keeping needs. Furthermore,
          the IT Cell upholds the responsibility of determining the optimal hosting servers, ensuring the theme
          of the club’s various IT infrastructures uphold the club’s image while keeping them user friendly, 
          informative, and up-to-date.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/student_life.jpg`, alt="")
      .description
        h1 Student Life
        p.
          Student Life Wing consists of two cells: Freshmen Orientation Projects (FOP) and Student
          Relations. This wing aims to improve the university experience of our students.
        h2 Freshmen Orientation Project Cell
        p.
          The FOP cell supports and integrates the different orientation projects: Freshmen Social
          Camp (FSC), RAG Commencement, Freshmen Orientation Camp (FOC), Freshmen Orientation Week 
          (FOW) and BASH. FOP 2019 has the vision "One FOP", which means supporting the different 
          projects and aligning each project to a common vision — creating a memorable experience 
          for all freshmen and seniors.  
        h2 Student Relations Cell
        p.
          The Student Relations cell is the main point of contact between the students and the 
          Management Committee and aims to represent the student body. This cell supports the 
          feedback channels, ensuring that feedback are taken care of, as well as the maintenance 
          of the lockers in NUS School of Computing. Student Relations collect feedback through surveys and
          analyse them to find ways to improve the club.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/student_development.jpg`, alt="")
      .description
        h1 Student Development
        p.
          The Student Development Wing comprises of the Academic Liaison and the Community Service
          Cell. The main purpose of this wing is to help students develop both academically, as well
          as, mentally and emotionally.
        h2 Academic Liaison Cell
        p.
          The Academic Liaison cell aims to promote the academic interests and facilitate the
          academic pursuits of the members of the Club. It also functions as the bridge between the
          student population and the school with regards to academic matters. The Academic Liaison cell
          plans activities such as mock Practical Examinations, Academic Day and hackathons to ensure
          our members have enough resources to learn well. 
        h2 Community Service Cell
        p. 
          The Community Service cell aims to promote a culture of giving among computing students by providing
          a platform for computing students to give back to society. This cell oversees the planning and 
          execution of the entire Flag project, a community project targeted at the elderly and liaises with 
          the school for the Code for Community project. 
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/external_relations.jpg`, alt="")
      .description
        h1 External Relations
        p.
          The External Wing comprises the Marketing and Publicity cells of the Computing Club.
          Together, we support the Club and raise its awareness to the students through various
          ways, from sponsorship sourcing to event publicity.
        h2 Publicity Cell
        p.
          The Publicity Cell acts as a support cell for the other cells and is responsible for the 
          image and outreach of our club. The cell curates content (such as posters), provides photography 
          or videography and maintains the club’s social media accounts. It constantly updates our club’s 
          #[a(href="https://tiny.cc/socflickr") Flickr page],
          #[a(href="https://facebook.com/nuscomputing") Facebook page],
          #[a(href="https://instagram.com/nuscomputingclub") Instagram page], and
          #[a(href="https://t.me/nuscomputingclub") Telegram channel]. 
        h2 Marketing Cell
        p.
          The Marketing Cell supports the other cells by providing the finance required to run large events 
          such as the Exam Welfare Pack Giveaways and the Freshmen Orientation Projects. To do so, the cell 
          conducts fundraising sales regularly with a wide range of merchandise and sources for sponsorship.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/internal_wing.jpg`, alt="")
      .description
        h1 Internal Wing
        p.
          The Internal Wing comprises the Sports Cell and the Welfare Cell. Together, they focus on taking 
          care of the well-being of the students through various sporting and welfare events, providing reprieve
          to the students’ otherwise hectic and stressful University lives.
        h2 Sports Cell
        p.
          The Sports Cell manages all activities related to sports in the club. This includes organising a Sports 
          Day during the winter holiday and various recreational sporting sessions during the Semester. They also 
          work closely with NUS Students’ Sports club to coordinate the yearly Inter-Faculty Games and provide welfare 
          for our players. The cell brings sports to the students and attempts to inculcate a sense of healthier living 
          through sports.
        h2 Welfare Cell
        p.
          The Welfare Cell aims to promote the mental well-being of the students by providing avenues to have fun, bond, 
          and relax. Some of these events include Movie Night, Welfare Night and the self-initiated Mid-Term Welfare Pack 
          Giveaway. They are also in-charge of the iconic Exam Welfare Pack Giveaway every semester.

  .heading
    h1 Our Team
  .container-members
    +member("Teh Wen Yi", "Presidential Wing", "President")
    +member("Lim Wai Lun", "Student Life", "Vice President")
    +member("Ong Si Ying", "Student Development", "Vice President")
    +member("Muhammad Danish", "External Relations", "Vice President")
    +member("Tay Zhan Peng", "Internal Wing", "Vice President")
    +member("Yow Ren Jie", "Presidential Wing", "General Secretary")
    +member("Chong Kay Heen", "Presidential Wing", "Assistant General Secretary")
    +member("Lee Wei Gen", "Presidential Wing", "Finance Secretary")
    +member("Yong Cheng", "Presidential Wing", "Assistant Finance Secretary")
    +member("Benjamin Lau", "Presidential Wing", "IT Secretary")
    +member("Soh Hak Wee", "Presidential Wing", "Assistant IT Secretary")
    +member("Crystal Lee", "Student Life", "Director of Freshmen Orientation Projects")
    +member("Andy Lam", "Student Life", "Deputy Director of Freshmen Orientation Projects")
    +member("Jamais Ang", "Student Life", "Director of Student Relations")
    +member("Law Jia Hua", "Student Life", "Deputy Director of Student Relations")
    +member("Sherman Dang", "Student Development", "Director of Academic Liaison")
    +member("Tay Yu Hong", "Student Development", "Deputy Director of Academic Liaison")
    +member("Bryan Soh", "Student Development", "Director of Community Service")
    +member("Jefferson Low", "Student Development", "Deputy Director of Community Service")
    +member("Gan Chin Yao", "External Relations", "Director of Publicity")
    +member("Tham Si Mun", "External Relations", "Deputy Director of Publicity (Photo and Video")
    +member("Mavis Kwa", "External Relations", "Deputy Director of Publicity (Graphic and Content)")
    +member("Tan Rui Siang", "External Relations", "Director of Marketing")
    +member("Dominic Dong", "External Relations", "Deputy Director of Marketing (Sponsorship)")
    +member("Rachel Low", "External Relations", "Deputy Director of Marketing (Merchandise)")
    +member("Ng Chee Siang", "Internal Wing", "Director of Welfare")
    +member("Clara Lie", "Internal Wing", "Deputy Director of Welfare")
    +member("Kerwin Lim", "Internal Wing", "Director of Sports")
    +member("Jeanne Toh", "Internal Wing", "Deputy Directory of Sports")

