extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/guides.css`)

block main
  .heading
    h1 Guides
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id malesuada dui, vitae
      euismod sapien. Aliquam erat volutpat. Aliquam venenatis molestie felis, vel venenatis odio
      suscipit sed. Donec ultrices nunc quis dignissim egestas. Phasellus nunc dui, iaculis ac
      consectetur ut, euismod mauris. Sed in diam suscipit, scelerisque ex tempus, rutrum libero.
  .container-guides
    .guide
      img(src=`${baseUrl}/static/images/guides/academics.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/academics.html`).
          Academics
        p: a(href=`${baseUrl}/guides/academics.html#programme-structure`).
          Programme Structure
        p: a(href=`${baseUrl}/guides/academics.html#su-options`).
          S/U Options
        p: a(href=`${baseUrl}/guides/academics.html#past-year-exam-papers`).
          Past Year Exam Papers
    .guide
      img(src=`${baseUrl}/static/images/guides/platforms.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/platforms.html`).
          Platforms
        p: a(href=`${baseUrl}/guides/platforms.html#nus-email`).
          NUS Email
        p: a(href=`${baseUrl}/guides/platforms.html#myisis`).
          myISIS
        p: a(href=`${baseUrl}/guides/platforms.html#cors`).
          CORS
        p: a(href=`${baseUrl}/guides/platforms.html#ivle`).
          IVLE
        p: a(href=`${baseUrl}/guides/platforms.html#nusmods`).
          NUSMods
        p: a(href=`${baseUrl}/guides/platforms.html#nusync`).
          NUSync
        p: a(href=`${baseUrl}/guides/platforms.html#facilities-booking`).
          Facilities Booking
    .guide
      img(src=`${baseUrl}/static/images/guides/special_programmes.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/special_programmes.html`).
          Special Programmes
        p: a(href=`${baseUrl}/guides/special_programmes.html#special-programmes`).
          Special Programmes
        p: a(href=`${baseUrl}/guides/special_programmes.html#double-degree-programmes`).
          Double Degree Programmes
    .guide
      img(src=`${baseUrl}/static/images/guides/overseas_opportunities.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/overseas_opportunities.html`).
          Overseas Opportunities
        p: a(href=`${baseUrl}/guides/overseas_opportunities.html#nus-overseas-colleges`).
          NUS Overseas Colleges
        p: a(href=`${baseUrl}/guides/overseas_opportunities.html#student-exchange-programmes`).
          Student Exchange Programmes
        p: a(href=`${baseUrl}/guides/overseas_opportunities.html#summer-and-winter-programmes`).
          Summer and Winter Programmes
    .guide
      img(src=`${baseUrl}/static/images/guides/soc_student_award.svg`, alt="")
      .contents
        h1: a(href=`${baseUrl}/guides/soc_student_award.html`).
          SoC Student Award
        p: a(href=`${baseUrl}/guides/soc_student_award.html#introduction`).
          Introduction
        p: a(href=`${baseUrl}/guides/soc_student_award.html#pillars`).
          Pillars
        p: a(href=`${baseUrl}/guides/soc_student_award.html#application`).
          Application
