extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/sports.css`)

block main
  .heading
    h1 Sports
    p.
      Listed here are guides, links to various platforms and FAQs which will be useful at different
      stages of your undergraduate life. Feel free to explore!
  .container-sports
    .sports
      img(src=`${baseUrl}/static/images/guides/academics.svg`, alt="")
      .contents
        h1 Links of Interest Groups

    .sports
      img(src=`${baseUrl}/static/images/guides/platforms.svg`, alt="")
      .contents
        h1 IFG
        a(href=`https://t.me/joinchat/B3E-hEkbW8Q38-y36mCB7w`) Badminton
        br
        a(href=`http://t.me/ComputingIFGbball`) Basketball (M)
        br
        a(href=`https://t.me/ComputingIFGBasketballG`) Basketball (F)
        br
        a(href=`https://chat.whatsapp.com/JoMZEuUDd6072Lq8wwvl4d`) Contract Bridge
        br
        a(href=`https://t.me/joinchat/BJwxQxWUufqgLSm5M1RtUA`) Dodgeball
        br
        a(href=`https://t.me/joinchat/B3E-hBZdpggiaNgv4Uq1KA`) DoTA 2
        br
        a(href=`https://t.me/joinchat/FirWrQ0nHH-ryTaxDcbNLw`) Floorball (M)
        br
        a(href=`https://t.me/joinchat/B3E-hBSCdtGDqtOjJ24gvQ`) Floorball (F)
        br
        a(href=`https://t.me/joinchat/B3E-hBWl-gQhiY7FQV1gnQ`) Handball (M)
        br
        a(href=`https://t.me/joinchat/B3E-hFPqFMwf8N-jzfOWJg`) Handball (F)
        br
        a(href=`https://t.me/joinchat/B3E-hBUHqH8q0xKyIr-DtQ`) Chess
        br
        a(href=`https://chat.whatsapp.com/FeMz9ZNSKSv7EqzazHFrc0`) Netball
        br
        a(href=`https://t.me/joinchat/DKaBrknyIqC-kXvZ6YE8Lg`) Reversi
        br
        a(href=`https://chat.whatsapp.com/8B7vecLLRtyDspPuQBJyBL`) Soccer (M)
        br
        a(href=`https://t.me/joinchat/DrVlvxdQn2adRdN7VXxerQ`) Soccer (F)
        br
        a(href=`https://t.me/joinchat/C5TC3heHxfxLGgmPUauoxg`) Table Tennis
        br
        a(href=`https://chat.whatsapp.com/CPUlxGEpKLVL99aY1a9hW0`) Tchoukball
        br
        a(href=`https://t.me/joinchat/B3E-hEmje3RBZ1g6HLm_MQ`) Tennis
        br
        a(href=`https://t.me/joinchat/B3E-hBZxVAaRmzWRn0Q-6A`) Touch Rugby
        br
        a(href=`https://t.me/joinchat/F_vzt0adfF65M5fbB5xQgg`) Track (M)
        br
        a(href=`https://t.me/joinchat/F_vzt0adfF65M5fbB5xQgg`) Track (F)
        br
        a(href=`https://t.me/joinchat/DKaBrkdeVYHyBV80OM2KQw`) Ultimate Frisbee
        br
        a(href=`https://t.me/joinchat/Goi6ChS6g_zV2X1--lhTWg`) Volleyball (M)
        br
        a(href=`https://t.me/joinchat/Goi6ChS6g_zV2X1--lhTWg`) Volleyball (F)
        br
        br
        br
        span Contact Kerwin @ 82220812 for any enquiries or interest in taking up any Captain / Vice-Captain role
        br
        

    .sports
      .contents
        h1 &#x1F3BE;&#x1F3C0;&#x1F945; IFG FAQs &#x1F3D2;&#x1F3C8;&#x1F3F8;&#x1F3AE;
        br
        p 1: What is IFG?
        br
        p 
          | IFG refers to Inter Faculty Games that runs from mid July to mid August, whereby students from each faculty get to compete against one another in various sports.
          | It is NOT Inter-Hall Games (IHG) and the commitment ends in the first few weeks of school so no worries about it affecting school or IHG.
        span -----
        br
        p 2: Do I need experience to participate in IFG?
        br
        p 
          | No! You simply have to join the telegram/WhatsApp chat groups of the sports you are interested in and attend trainings to learn, improve and make new friends!
          | Cutting of teams only take place nearer competition dates (subject to each captain’s discretion), so you can definitely join to experience the sport and you just might get chosen to represent the faculty for the sport!
        span -----
        br
        p 3: What is the commitment for IFG like?
        br
        p 
          | Each sport has about 1-2 trainings per week and they’re mostly optional! Of course, higher commitment from you will mean higher chances of getting chosen for the team.
          | New IFG teams are chosen every AY, so joining a sport now does not mean you have to stick with it for your entire candidature (unless you really want to!) You can try new sports every AY even &#x1F60A;&#x1F609;
        br
        span -----
        br
        p 4: I’m not sure which sports I should join, how can I decide?
        br
        p 
          | Just join the sports you are interested in, attend a training or two, if you find that you like it you can stay, otherwise you are also free to leave the group (no pressure!)
        span -----
        br
        p 5: I’m a female, will it be harder for me to get into the team in mixed gender games?
        br
        p 
          | Most definitely not! Each mixed gender sport has a minimum gender ratio so girls are very welcomed! (especially here in computing!! pleasee join IFG!)
        span -----
        br
        p Hope we have cleared up some misconceptions about IFG! Join us at IFG now!
        p We hope to see you around! &#x26BD;&#x1F3AE;&#x1F3C0;&#x1F44A;
        br
        br

    .sports
      img(src=`${baseUrl}/static/images/guides/special_programmes.svg`, alt="")
      .contents
        h1 Events

    .sports
      img(src=`${baseUrl}/static/images/guides/overseas_opportunities.svg`, alt="")
      .contents
        h1 Photos
        br
        a(href=`https://www.flickr.com/photos/137141057@N04/albums/72157690115522353`) Night Cycling
        br
        br
        a(href=`https://www.flickr.com/photos/137141057@N04/albums/72157705709321465`) Sports Carnival
        br
        br
        a(href=`https://www.flickr.com/photos/137141057@N04/albums/72157697182251462`) IFG 18
        br
        br