extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/sports.css`)

block main
  .heading
    h1 Sports
    p.
      Listed here are guides, links to various platforms and FAQs which will be useful at different
      stages of your undergraduate life. Feel free to explore!
  .container-sports
    .sports
      img(src=`${baseUrl}/static/images/guides/academics.svg`, alt="")
      .contents
        h1 Links of Interest Groups

    .sports
      img(src=`${baseUrl}/static/images/guides/platforms.svg`, alt="")
      .contents
        h1 IFG
        a(href=`https://t.me/joinchat/B3E-hEkbW8Q38-y36mCB7w`) Badminton
        br
        a(href=`http://t.me/ComputingIFGbball`) Basketball (M)
        br
        a(href=`http://t.me/ComputingIFGbball`) Basketball (F)
        br
        a(href=`https://t.me/ComputingIFGBasketballG`) Basketball (M)
        br
        a(href=`https://chat.whatsapp.com/JoMZEuUDd6072Lq8wwvl4d`) Contract Bridge
        br
        a(href=`https://t.me/joinchat/B3E-hBZdpggiaNgv4Uq1KA`) DoTA 2
        br
        a(href=`https://t.me/joinchat/FirWrQ0nHH-ryTaxDcbNLw`) Floorball (M)
        br
        a(href=`https://t.me/joinchat/B3E-hBSCdtGDqtOjJ24gvQ`) Floorball (F)
        br
        a(href=`https://t.me/joinchat/B3E-hBWl-gQhiY7FQV1gnQ`) Handball (M)
        br
        span Handball (F)
        br
        a(href=`https://t.me/joinchat/B3E-hBUHqH8q0xKyIr-DtQ`) Chess
        br
        a(href=`https://chat.whatsapp.com/FeMz9ZNSKSv7EqzazHFrc0`) Netball
        br
        a(href=`https://t.me/joinchat/DKaBrknyIqC-kXvZ6YE8Lg`) Reversi
        br
        a(href=`https://chat.whatsapp.com/8B7vecLLRtyDspPuQBJyBL`) Soccer (M)
        br
        a(href=`https://t.me/joinchat/DrVlvxdQn2adRdN7VXxerQ`) Soccer (F)
        br
        a(href=`https://t.me/joinchat/C5TC3heHxfxLGgmPUauoxg`) Table Tennis
        br
        a(href=`https://chat.whatsapp.com/CPUlxGEpKLVL99aY1a9hW0`) Tchuokball
        br
        a(href=`https://t.me/joinchat/B3E-hEmje3RBZ1g6HLm_MQ`) Tennis
        br
        a(href=`https://t.me/joinchat/B3E-hBZxVAaRmzWRn0Q-6A`) Touch Rugby
        br
        a(href=`https://t.me/joinchat/F_vzt0adfF65M5fbB5xQgg`) Track (M)
        br
        a(href=`https://t.me/joinchat/F_vzt0adfF65M5fbB5xQgg`) Track (F)
        br
        a(href=`https://t.me/joinchat/DKaBrkdeVYHyBV80OM2KQw`) Ultimate Frisbee
        br
        a(href=`https://t.me/joinchat/Goi6ChS6g_zV2X1--lhTWg`) Volleyball (M)
        br
        a(href=`https://t.me/joinchat/Goi6ChS6g_zV2X1--lhTWg`) Volleyball (F)
        br
        
    .sports
      img(src=`${baseUrl}/static/images/guides/special_programmes.svg`, alt="")
      .contents
        h1 Events

    .sports
      img(src=`${baseUrl}/static/images/guides/overseas_opportunities.svg`, alt="")
      .contents
        h1 Photos
