extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/sports.css`)
  script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit")
  script(src=`${baseUrl}/static/js/sports.js`)
block main
  .heading
    h1 Sports
    p.
      Listed here are guides, links to various platforms and FAQs which will be useful at different
      stages of your undergraduate life. Feel free to explore!
  .container-sports
    .sports
      img(src=`${baseUrl}/static/images/guides/academics.svg`, alt="")
      .contents
        h1 Links of Interest Groups

    .sports
      img(src=`${baseUrl}/static/images/guides/platforms.svg`, alt="")
      .contents
        h1 IFG
        
        a(class=`captcha`, href=`#`) Badminton
          span(data-name=`badminton`)
        br
        a(class=`captcha`, href=`#`) Basketball (M)
          span(data-name=`basketballm`)
        br
        a(class=`captcha`, href=`#`) Basketball (F)
          span(data-name=`basketballf`)
        br
        a(class=`captcha`, href=`#`) Contract Bridge
          span(data-name=`bridge`)
        br
        a(class=`captcha`, href=`#`) Dodgeball
          span(data-name=`dodgeball`)
        br
        a(class=`captcha`, href=`#`) DoTA 2
          span(data-name=`dota2`)
        br
        a(class=`captcha`, href=`#`) Floorball (M)
          span(data-name=`floorballm`)
        br
        a(class=`captcha`, href=`#`) Floorball (F)
          span(data-name=`floorballf`)
        br
        a(class=`captcha`, href=`#`) Handball (M)
          span(data-name=`handballm`)
        br
        a(class=`captcha`, href=`#`) Handball (F)
          span(data-name=`handballf`)
        br
        a(class=`captcha`, href=`#`) Chess
          span(data-name=`chess`)
        br
        a(class=`captcha`, href=`#`) Netball
          span(data-name=`netball`)
        br
        a(class=`captcha`, href=`#`) Reversi
          span(data-name=`reversi`)
        br
        a(class=`captcha`, href=`#`) Soccer (M)
          span(data-name=`soccerm`)
        br
        a(class=`captcha`, href=`#`) Soccer (F)
          span(data-name=`soccerf`)
        br
        a(class=`captcha`, href=`#`) Table Tennis
          span(data-name=`tabletennis`)
        br
        a(class=`captcha`, href=`#`) Tchoukball
          span(data-name=`tchoukball`)
        br
        a(class=`captcha`, href=`#`) Tennis
          span(data-name=`tennis`)
        br
        a(class=`captcha`, href=`#`) Touch Rugby
          span(data-name=`touchrugby`)
        br
        a(class=`captcha`, href=`#`) Track (M)
          span(data-name=`trackm`)
        br
        a(class=`captcha`, href=`#`) Track (F)
          span(data-name=`trackf`)
        br
        a(class=`captcha`, href=`#`) Ultimate Frisbee
          span(data-name=`frisbee`)
        br
        a(class=`captcha`, href=`#`) Volleyball (M)
          span(data-name=`volleyballm`)
        br
        a(class=`captcha`, href=`#`) Volleyball (F)
          span(data-name=`volleyballf`)
        br
        br
        br
        span Contact Kerwin @ 82220812 for any enquiries or interest in taking up any Captain / Vice-Captain role
        br
        

    .sports
      .contents
        h1 &#x1F3BE;&#x1F3C0;&#x1F945; IFG FAQs &#x1F3D2;&#x1F3C8;&#x1F3F8;&#x1F3AE;
        br
        p 1: What is IFG?
        br
        p 
          | IFG refers to Inter Faculty Games that runs from mid July to mid August, whereby students from each faculty get to compete against one another in various sports.
          | It is NOT Inter-Hall Games (IHG) and the commitment ends in the first few weeks of school so no worries about it affecting school or IHG.
        span -----
        br
        p 2: Do I need experience to participate in IFG?
        br
        p 
          | No! You simply have to join the telegram/WhatsApp chat groups of the sports you are interested in and attend trainings to learn, improve and make new friends!
          | Cutting of teams only take place nearer competition dates (subject to each captain’s discretion), so you can definitely join to experience the sport and you just might get chosen to represent the faculty for the sport!
        span -----
        br
        p 3: What is the commitment for IFG like?
        br
        p 
          | Each sport has about 1-2 trainings per week and they’re mostly optional! Of course, higher commitment from you will mean higher chances of getting chosen for the team.
          | New IFG teams are chosen every AY, so joining a sport now does not mean you have to stick with it for your entire candidature (unless you really want to!) You can try new sports every AY even &#x1F60A;&#x1F609;
        br
        span -----
        br
        p 4: I’m not sure which sports I should join, how can I decide?
        br
        p 
          | Just join the sports you are interested in, attend a training or two, if you find that you like it you can stay, otherwise you are also free to leave the group (no pressure!)
        span -----
        br
        p 5: I’m a female, will it be harder for me to get into the team in mixed gender games?
        br
        p 
          | Most definitely not! Each mixed gender sport has a minimum gender ratio so girls are very welcomed! (especially here in computing!! pleasee join IFG!)
        span -----
        br
        p Hope we have cleared up some misconceptions about IFG! Join us at IFG now!
        p We hope to see you around! &#x26BD;&#x1F3AE;&#x1F3C0;&#x1F44A;
        br
        br

    .sports
      img(src=`${baseUrl}/static/images/guides/special_programmes.svg`, alt="")
      .contents
        h1 Events

    .sports
      img(src=`${baseUrl}/static/images/guides/overseas_opportunities.svg`, alt="")
      .contents
        h1 Photos
        br
        
        a(class=`captcha`, href=`#`) Night Cycling
        br
        br
        
        a(class=`captcha`, href=`#`) Sports Carnival
        br
        br
        
        a(class=`captcha`, href=`#`) IFG 18
        br
        br