extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/sports.css`)

block main
  .heading
    h1 Sports
    p.
      Listed here are guides, links to various platforms and FAQs which will be useful at different
      stages of your undergraduate life. Feel free to explore!
  .container-sports
    .sports
      img(src=`${baseUrl}/static/images/guides/academics.svg`, alt="")
      .contents
        h1 Links of Interest Groups

    .sports
      img(src=`${baseUrl}/static/images/guides/platforms.svg`, alt="")
      .contents
        h1 IFG
        a(href=`https://t.me/joinchat/B3E-hEkbW8Q38-y36mCB7w`) Badminton
        a(href=`http://t.me/ComputingIFGbball`) Basketball (M)
        a(href=`http://t.me/ComputingIFGbball`) Basketball (F)
        a(href=`https://t.me/ComputingIFGBasketballG`) Basketball (M)
        a(href=`https://chat.whatsapp.com/JoMZEuUDd6072Lq8wwvl4d`) Contract Bridge
        a(href=`https://t.me/joinchat/B3E-hBZdpggiaNgv4Uq1KA`) DoTA 2
        span Floorball (M)
        a(href=`https://t.me/joinchat/B3E-hBSCdtGDqtOjJ24gvQ`) Floorball (F)
        a(href=`https://t.me/joinchat/B3E-hBWl-gQhiY7FQV1gnQ`) Handball (M)
        span Handball (F)
        a(href=`https://t.me/joinchat/B3E-hBUHqH8q0xKyIr-DtQ`) Chess
        span Netball
        a(href=`https://t.me/joinchat/DKaBrknyIqC-kXvZ6YE8Lg`) Reversi
        a(href=`https://chat.whatsapp.com/8B7vecLLRtyDspPuQBJyBL`) Soccer (M)
        a(href=`https://t.me/joinchat/DrVlvxdQn2adRdN7VXxerQ`) Soccer (F)
        a(href=`https://t.me/joinchat/C5TC3heHxfxLGgmPUauoxg`) Table Tennis
        a(href=`https://chat.whatsapp.com/CPUlxGEpKLVL99aY1a9hW0`) Tchuokball
        a(href=`https://t.me/joinchat/B3E-hEmje3RBZ1g6HLm_MQ`) Tennis
        a(href=`https://t.me/joinchat/B3E-hBZxVAaRmzWRn0Q-6A`) Touch Rugby
        a(href=`https://t.me/joinchat/F_vzt0adfF65M5fbB5xQgg`) Track (M)
        a(href=`https://t.me/joinchat/F_vzt0adfF65M5fbB5xQgg`) Track (F)
        a(href=`https://t.me/joinchat/DKaBrkdeVYHyBV80OM2KQw`) Ultimate Frisbee
        a(href=`https://t.me/joinchat/Goi6ChS6g_zV2X1--lhTWg`) Volleyball (M)
        a(href=`https://t.me/joinchat/Goi6ChS6g_zV2X1--lhTWg`) Volleyball (F)
        
        
    .sports
      img(src=`${baseUrl}/static/images/guides/special_programmes.svg`, alt="")
      .contents
        h1 Events

    .sports
      img(src=`${baseUrl}/static/images/guides/overseas_opportunities.svg`, alt="")
      .contents
        h1 Photos
